{% extends 'base.html.twig' %}

{% block title %}Gestion des Utilisateurs | {{ parent() }}{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <h1>Gestion des utilisateurs</h1>

        <div class="table-responsive">
            <table class="table table-hover table-sm"
                   title="Gestion des utilisateurs">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th class="d-none d-md-table-cell">Pseudo</th>
                    <th class="d-none d-md-table-cell">Email</th>
                    <th>Actif</th>
                    <th class="d-none d-md-table-cell">Campus</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for p in participants %}
                    {% if not p.administrateur %}
                        <tr>
                            <td>{{ p.nom }}</td>
                            <td>{{ p.prenom }}</td>
                            <td class="d-none d-md-table-cell">{{ p.pseudo }}</td>
                            <td class="d-none d-md-table-cell">{{ p.mail }}</td>
                            <td>{{ p.actif ? 'oui' : 'non' }}</td>
                            <td class="d-none d-md-table-cell">{{ p.campus.nom }}</td>
                            <td>
                                {% if p.actif %}
                                    <form method="POST" action="{{ path('admin_desactiver') }}">
                                        <input type="hidden" name="participant_id" value="{{ p.id }}">
                                        <button type="submit"
                                                class="btn btn-outline-danger btn-sm btn-custom-size">désactiver
                                        </button>
                                    </form>
                                {% else %}
                                    <form method="POST" action="{{ path('admin_activer') }}">
                                        <input type="hidden" name="participant_id" value="{{ p.id }}">
                                        <button type="submit"
                                                class="btn btn-outline-success btn-sm btn-custom-size">activer
                                        </button>
                                    </form>
                                {% endif %}
                                <form method="POST" action="{{ path('admin_modifier') }}">
                                    <input type="hidden" name="participant_id" value="{{ p.id }}">
                                    <button type="submit"
                                            class="btn btn-outline-info btn-sm btn-custom-size">Modifier
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
{% endblock %}
