{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier une sortie</h1>

        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(sortieForm) }}

    <div class="d-flex justify-content-start gap-2 mt-3">

        <form method="POST" action="{{ path('sortie_publier') }}">
            <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
            <button type="submit" class="btn btn-outline-warning">Publier</button>
        </form>

        <form method="POST" action="{{ path('sortie_supprimer') }}">
            <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
            <button type="submit" class="btn btn-outline-danger">Supprimer</button>
        </form>

        <form method="GET" action="{{ path('sortie_list') }}" class="m-0">
            <button type="submit" class="btn btn-secondary">Retour à la liste</button>
        </form>
    </div>

{% endblock %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}

