{% extends 'base.html.twig' %}

{% block title %}Sorties | {{ parent() }}{% endblock %}

{% block body %}

    <h1>Les sorties</h1>

    {# Selection du filtre par Campus #}
    <form method="post" action="{{ path('sortie_list') }}">
        <label for="campus">Campus :</label>
        <select id="campus" name="campus" onchange="this.form.submit()">
            <option value="">--- Tous les campus ---</option>
            {% for campus in campusList %}
                <option value="{{ campus.id }}" {% if campus.id == selectedFilters.campus %}selected{% endif %}>
                    {{ campus.nom }}
                </option>
            {% endfor %}
        </select>

        <ul class="list-group">
           <li>
               {# Champ caché pour transmettre "0" si la checkbox est décochée #}
               <input type="hidden" name="showFinished" value="0">
               {# Checkbox qui transmet "1" si cochée #}
               <input
                       type="checkbox"
                       id="showFinished"
                       name="showFinished"
                       value="1"
                       {% if selectedFilters.showFinished %}checked{% endif %}>
               <label for="showFinished">Sorties terminées</label>
           </li>

            <li>
                {# Champ caché pour transmettre "0" si la checkbox est décochée #}
                <input type="hidden" name="showNotRegistered" value="0">
                {# Checkbox qui transmet "1" si cochée #}
                <input
                        type="checkbox"
                        id="showNotRegistered"
                        name="showNotRegistered"
                        value="1"
                        {% if selectedFilters.showNotRegistered %}checked{% endif %}>
                <label for="showNotRegistered">Sorties auxquelles je ne suis pas inscrit/e</label>
            </li>

            <li>
                {# Champ caché pour transmettre "0" si la checkbox est décochée #}
                <input type="hidden" name="showRegistered" value="0">
                {# Checkbox qui transmet "1" si cochée #}
                <input
                        type="checkbox"
                        id="showRegistered"
                        name="showRegistered"
                        value="1"
                        {% if selectedFilters.showRegistered %}checked{% endif %}>
                <label for="showRegistered">Sorties auxquelles je suis inscrit/e</label>
            </li>

            <li>
                {# Champ caché pour transmettre "0" si la checkbox est décochée #}
                <input type="hidden" name="showIOrganize" value="0">
                {# Checkbox qui transmet "1" si cochée #}
                <input
                        type="checkbox"
                        id="showIOrganize"
                        name="showIOrganize"
                        value="1"
                        {% if selectedFilters.showIOrganize %}checked{% endif %}>
                <label for="showIOrganize">Sorties dont je suis l'organisateur/trice</label>
            </li>
            <li>
                <label for="searchTerm">Le nom de la sortie contient</label>
                <input type="text" id="searchTerm" name="searchTerm" value="{{ selectedFilters.searchTerm }}" placeholder="Nom ou mot-clé">
            </li>
            <li>
                <label for="startDate">Date de début :</label>
                Entre ... <input type="date" id="startDate" name="startDate" value="{{ selectedFilters.startDate }}"> ... et ...
                <label for="endDate">Date de fin :</label>
                <input type="date" id="endDate" name="endDate" value="{{ selectedFilters.endDate }}">
            </li>


        </ul>

        <button class="btn btn-secondary" type="submit">Rechercher</button>

    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d-m-Y") }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d-m-Y") }}</td>
                <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if user in sortie.participants %}X{% else %}{% endif %}</td>
                <td><a href="{{ path('participant_affichage', {id: sortie.organisateur.id} )}}">
                        {{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom|slice(0,1) }}.</a></td>
                <td>
                    <a href="{{ path('sortie_affichage', {id: sortie.id}) }}"
                       class="btn btn-outline-primary btn-sm" title="voir le détail de la sortie">Afficher</a>

                    {% if sortie.organisateur == app.user %}
                        <form method="POST" action="{{ path('sortie_modifier') }}">
                            <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Modifier</button>
                        </form>
                        {% if sortie.etat.libelle == 'En création' %}
                            <form method="POST" action="{{ path('sortie_publier') }}">
                                <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
                                <button type="submit" class="btn btn-outline-warning btn-sm">Publier</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if sortie.isAvailable(user, currentDateTime) %}
                        <form method="POST" action="{{ path('sortie_inscrire', {id: sortie.id}) }}">
                            <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
                            <button type="submit" class="btn btn-outline-success btn-sm">S'inscrire</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Si un user est connecté #}
    {% if app.user %}
        <div class="nav-item">
            <a href="{{ path('sortie_creer') }}" class="btn btn-primary" title="créer une sortie">Créer une sortie</a>
        </div>
    {% else %}

    {% endif %}

{% endblock %}
