<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link rel="icon" href="{{ asset('img/icon.png') }}">

    <title>{% block title %}Sortir.com{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>


<body>

<header class="container">
    {% include("_navbar.html.twig") %}
</header>

<main class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<footer class="container">
    &copy; ENI {{ "now"|date("Y") }}
</footer>

</body>
</html>
